# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
www/uploads/*
www/media/*
www/bundles/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml

.idea/
.travis.yml
LICENSE
README.md
UPGRADE.md

app/SymfonyRequirements.php
app/check.php
www/config.php
