{% extends "MainBundle:PageLayout:base_admin.html.twig" %}
{%- set chain = current_chain() -%}
{% block body %}
    <h3>Список Новостей</h3>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Название</th>
                <th></th>
                <th></th>
                <th></th>
                <th>
                    <a href="{{ path_city('admin_publication_new') }}" class="btn btn-primary">Добавить</a>
                </th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.name }}</td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <div>
                        <a target="_blank" href="{{ path_city('_news_single',{'_city':_city,'_locale':app.request.getLocale(), 'url': entity.url }) }}" class="btn"><i class="icon-eye-open"></i></a>
                        <a href="{{ path_city('admin_publication_new', { 'id': entity.id }) }}" class="btn"><i class="icon-edit"></i></a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}