main_user:
    resource: "@MainUserBundle/Controller/"
    type:     annotation
    prefix:   /

fos_user_security:
    resource: "@FOSUserBundle/Resources/config/routing/security.xml"

fos_user_profile:
    resource: "@FOSUserBundle/Resources/config/routing/profile.xml"
    prefix: /profile

fos_user_register:
    resource: "@FOSUserBundle/Resources/config/routing/registration.xml"
    prefix: /register

fos_user_resetting:
    resource: "@FOSUserBundle/Resources/config/routing/resetting.xml"
    prefix: /resetting

fos_user_change_password:
    resource: "@FOSUserBundle/Resources/config/routing/change_password.xml"
    prefix: /profile

main:
    resource: "@MainBundle/Controller/"
    type:     annotation
    prefix:   /{_locale}/
    requirements:
          _locale:  ru|en
    defaults:
        _locale: ru

main_user:
    resource: "@MainUserBundle/Controller/"
    type:     annotation
    prefix:   /{_locale}/
    requirements:
          _locale:  ru|en
    defaults:
        _locale: ru

_client:
    resource: "@MainBundle/Resources/config/client.yml"

_client_php:
    resource: "@MainBundle/Resources/config/client1.php"

_imagine:
    resource: .
    type:     imagine