<div id="footer">
    <div class="gholder">
        <div class="contact">
            <a href="mailto:&#105;&#110;&#102;&#111;&#064;&#112;&#105;&#122;&#122;&#122;&#097;&#046;&#099;&#111;&#109;&#046;&#117;&#097;">
                &#105;&#110;&#102;&#111;&#064;&#112;&#105;&#122;&#122;&#122;&#097;&#046;&#099;&#111;&#109;&#046;&#117;&#097;</a>
            <span>Skype: <strong>pizzzacomua</strong></span>
        </div>
        <ul class="links">
            <li>
                <ul>
                    <li><a href="#">Главная</a></li>
                    <li><a href="#">Пиццерии</a></li>
                    <li><a href="#">Доставка</a></li>
                    <li><a href="#">Публикации</a></li>
                </ul>
            </li>
            <li>
                <ul>
                    <li><a href="#">Акции</a></li>
                    <li><a href="#">Карта</a></li>
                    <li><a href="#">Галерея пиццы</a></li>
                </ul>
            </li>
            <li>
                <ul>
                    <li><a href="#">Реклама</a></li>
                    <li><a href="#">О нас</a></li>
                    <li><a href="#">Карта сайта</a></li>
                </ul>
            </li>
        </ul>
        <strong class="copy">&copy; PizZza.com.ua 2012</strong>
        <em class="warning">Использование материалов сайта допускается только с письменного разрешения администрации
            сайта.</em>
    </div>
</div>
