<div class="action">
    <div class="heading">
        <h2>Акции пиццерий</h2>
        <a href="#">Все акции</a>
    </div>
    <div class="tabs-area">
        <ul class="action-tabset">
            <li class="active"><a href="#tab-10">1</a></li>
            <li><a href="#tab-11">2</a></li>
            <li><a href="#tab-12">3</a></li>
        </ul>
        <div class="tab-list">
            <div class="tab" id="tab-10">
                <div class="area">
                    <div class="block">
                        <img src="images/img-05.jpg" width="200" height="117" alt="image description"/>

                        <h3><a href="#">Бесплатная ночная доставка от Е-pizza</a></h3>
                        <a href="#" class="cat">Е-pizza</a>
                    </div>
                    <div class="block">
                        <img src="images/img-06.jpg" width="200" height="117" alt="image description"/>

                        <h3><a href="#">Живая пицца от Il Molino</a></h3>
                        <a href="#" class="cat">Il Molino</a>
                    </div>
                    <div class="block">
                        <img src="images/img-07.jpg" width="200" height="117" alt="image description"/>

                        <h3><a href="#">Супер-скидка 20 % от Pizza House на все меню</a></h3>
                        <a href="#" class="cat">Pizza House</a>
                    </div>
                    <div class="block">
                        <img src="images/img-08.jpg" width="200" height="117" alt="image description"/>

                        <h3><a href="#">Бесплатная ночная доставка от Е-pizza</a></h3>
                        <a href="#" class="cat">Е-pizza</a>
                    </div>
                </div>
            </div>
            <div class="tab" id="tab-11">
                <div class="area">
                    <div class="block">
                        <img src="images/img-05.jpg" width="200" height="117" alt="image description"/>

                        <h3><a href="#">Бесплатная ночная доставка от Е-pizza</a></h3>
                        <a href="#" class="cat">Е-pizza</a>
                    </div>
                    <div class="block">
                        <img src="images/img-08.jpg" width="200" height="117" alt="image description"/>

                        <h3><a href="#">Бесплатная ночная доставка от Е-pizza</a></h3>
                        <a href="#" class="cat">Е-pizza</a>
                    </div>
                    <div class="block">
                        <img src="images/img-06.jpg" width="200" height="117" alt="image description"/>

                        <h3><a href="#">Живая пицца от Il Molino</a></h3>
                        <a href="#" class="cat">Il Molino</a>
                    </div>
                    <div class="block">
                        <img src="images/img-08.jpg" width="200" height="117" alt="image description"/>

                        <h3><a href="#">Бесплатная ночная доставка от Е-pizza</a></h3>
                        <a href="#" class="cat">Е-pizza</a>
                    </div>
                </div>
            </div>
            <div class="tab" id="tab-12">
                <div class="area">
                    <div class="block">
                        <img src="images/img-06.jpg" width="200" height="117" alt="image description"/>

                        <h3><a href="#">Живая пицца от Il Molino</a></h3>
                        <a href="#" class="cat">Il Molino</a>
                    </div>
                    <div class="block">
                        <img src="images/img-07.jpg" width="200" height="117" alt="image description"/>

                        <h3><a href="#">Супер-скидка 20 % от Pizza House на все меню</a></h3>
                        <a href="#" class="cat">Pizza House</a>
                    </div>
                    <div class="block">
                        <img src="images/img-08.jpg" width="200" height="117" alt="image description"/>

                        <h3><a href="#">Бесплатная ночная доставка от Е-pizza</a></h3>
                        <a href="#" class="cat">Е-pizza</a>
                    </div>
                    <div class="block">
                        <img src="images/img-06.jpg" width="200" height="117" alt="image description"/>

                        <h3><a href="#">Живая пицца от Il Molino</a></h3>
                        <a href="#" class="cat">Il Molino</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>