<div class="last-comment">
    <div class="heading">
        <h2>Последние отзывы</h2>
    </div>
    <ul>
        <li>
            <div class="meta">
                <strong class="name">Илья <span>—</span></strong>
                <a href="#" class="link">Мамамиа</a>
                <ul class="stars">
                    <li class="ico-star"></li>
                    <li class="ico-star"></li>
                    <li class="ico-star"></li>
                    <li class="ico-star ico-star-half"></li>
                    <li class="ico-star ico-star-empty"></li>
                </ul>
                <em class="date">18 декабря, 2012</em>
            </div>
            <span class="text">Помнится начинали очень вкусно, приятный, индивидуальный подход радовал. Пицца вкуснейшая, тонкое, сухое тесто.Очень вкусно готовят, хорошое обслуживание, являюсь клиентом уже почти 6 лет ...</span>
            <a href="#" class="read">Читать отзыв</a>
        </li>
        <li>
            <div class="meta">
                <strong class="name">Марина <span>—</span></strong>
                <a href="#" class="link">Domino’s</a>
                <ul class="stars">
                    <li class="ico-star"></li>
                    <li class="ico-star"></li>
                    <li class="ico-star"></li>
                    <li class="ico-star ico-star-empty"></li>
                    <li class="ico-star ico-star-empty"></li>
                </ul>
                <em class="date">25 сентября, 2012</em>
            </div>
            <span class="text">операторы - хамы, вместо обьяснения меню перебевают и грубят! узнать про меню не реально, вас все время перебивают Очень вкусно готовят, хорошое обслуживание,  ...</span>
            <a href="#" class="read">Читать отзыв</a>
        </li>
        <li>
            <div class="meta">
                <strong class="name">Анатолий <span>—</span></strong>
                <a href="#" class="link">Империя пиццы</a>
                <ul class="stars">
                    <li class="ico-star"></li>
                    <li class="ico-star"></li>
                    <li class="ico-star"></li>
                    <li class="ico-star"></li>
                    <li class="ico-star"></li>
                </ul>
                <em class="date">18 сентября, 2012</em>
            </div>
            <span class="text">Очень вкусно готовят, хорошое обслуживание,Очень вкусно готовят, хорошое обслуживание, являюсь клиентом уже почти 6 лет.  являюсь клиентом уже почти 6 лет. Один только минус,  ...</span>
            <a href="#" class="read">Читать отзыв</a>
        </li>
    </ul>
</div>