<div class="last-news">
    <div class="heading">
        <h2>Последние публикации</h2>
        <a href="#">Все публикации</a>
    </div>
    <div class="center">
        <div class="article">
            <img src="images/img-04.jpg" width="200" height="117" alt="image description"/>

            <h3><a href="#">Рецепт океанской пиццы</a></h3>

            <p>Один из лучших рецептов уходящего года предоставлен для вас самой лучшей пиццерией города, в
                которой вас непременно научат готовить уникальную океанскую пиццу ...</p>

            <div class="meta">
                <div class="cat"><a href="#">Рецепты</a></div>
                <em class="date">12 октября, 2012</em>
            </div>
        </div>
        <ul>
            <li>
                <h3><a href="#">Как придать блюдам пикантный вкус, или ...</a></h3>

                <div class="cat">
                    <a href="#">Рецепты</a>
                </div>
            </li>
            <li>
                <h3><a href="#">Обнаружены новые сорта пиццы в Domino’s</a></h3>

                <div class="cat">
                    <a href="#">Новости</a>
                </div>
            </li>
            <li>
                <h3><a href="#">Как приготовить салат</a></h3>

                <div class="cat">
                    <a href="#">Статьи</a>
                </div>
            </li>
            <li>
                <h3><a href="#">Обновление нашего сайта</a></h3>

                <div class="cat">
                    <a href="#">Сайт</a>
                </div>
            </li>
        </ul>
    </div>
</div>