<div class="recomend">
    <div class="heading">
        <h2>Мы рекомендуем</h2>
    </div>
    <ul>
        <li>
            <div class="images"><img src="images/recomned-01.gif" width="71" height="70" alt="image description"/>
            </div>
            <h3><a href="#">Domino’s</a></h3>

            <div class="footer">
                <ul class="stars">
                    <li class="ico-star"></li>
                    <li class="ico-star"></li>
                    <li class="ico-star"></li>
                    <li class="ico-star"></li>
                    <li class="ico-star"></li>
                </ul>
                <a href="#" class="comment-link">17</a>
            </div>
        </li>
        <li>
            <div class="images"><img src="images/recomned-02.gif" width="106" height="70" alt="image description"/>
            </div>
            <h3><a href="#">Мамамиа</a></h3>

            <div class="footer">
                <ul class="stars">
                    <li class="ico-star"></li>
                    <li class="ico-star"></li>
                    <li class="ico-star"></li>
                    <li class="ico-star"></li>
                    <li class="ico-star"></li>
                </ul>
                <a href="#" class="comment-link">22</a>
            </div>
        </li>
        <li>
            <div class="images"><img src="images/recomned-03.gif" width="118" height="70" alt="image description"/>
            </div>
            <h3><a href="#">Империя пиццы</a></h3>

            <div class="footer">
                <ul class="stars">
                    <li class="ico-star"></li>
                    <li class="ico-star"></li>
                    <li class="ico-star"></li>
                    <li class="ico-star"></li>
                    <li class="ico-star"></li>
                </ul>
                <a href="#" class="comment-link">12</a>
            </div>
        </li>
        <li>
            <div class="images"><img src="images/recomned-04.gif" width="112" height="70" alt="image description"/>
            </div>
            <h3><a href="#">Везувио</a></h3>

            <div class="footer">
                <ul class="stars">
                    <li class="ico-star"></li>
                    <li class="ico-star"></li>
                    <li class="ico-star"></li>
                    <li class="ico-star"></li>
                    <li class="ico-star"></li>
                </ul>
                <a href="#" class="comment-link">10</a>
            </div>
        </li>
        <li>
            <div class="images"><img src="images/recomned-05.gif" width="114" height="70" alt="image description"/>
            </div>
            <h3><a href="#">Adriano Pizza</a></h3>

            <div class="footer">
                <ul class="stars">
                    <li class="ico-star"></li>
                    <li class="ico-star"></li>
                    <li class="ico-star"></li>
                    <li class="ico-star"></li>
                    <li class="ico-star"></li>
                </ul>
                <a href="#" class="comment-link">21</a>
            </div>
        </li>
        <li>
            <div class="images"><img src="images/recomned-06.gif" width="46" height="50" alt="image description"/>
            </div>
            <h3><a href="#">New York Street ...</a></h3>

            <div class="footer">
                <ul class="stars">
                    <li class="ico-star"></li>
                    <li class="ico-star"></li>
                    <li class="ico-star"></li>
                    <li class="ico-star"></li>
                    <li class="ico-star"></li>
                </ul>
                <a href="#" class="comment-link">17</a>
            </div>
        </li>
    </ul>
</div>