{% if entities|length > 0 %}
    <div class="slideshow">
        <div class="slideset">
            {% for entity in entities %}
                <div class="slide active">
                    <div class="text">
                        <h2>{{ entity.title }}</h2>
                        <em>{{ entity.text }}</em>
                    </div>
                    {%-if entity.getImageName is not null-%}
                        <img src="{{ vich_uploader_asset(entity, 'image') }}" alt="{{ entity.getImageName }}" style="width: 377px; max-height: 294px;"/>
                    {%-endif-%}
                </div>
            {% endfor %}
        </div>
        <div class="buttons">
            <a href="#" class="btn-prev">prev</a>
            <a href="#" class="btn-next">next</a>
        </div>
    </div>
{% endif %}