{% extends "::base.html.twig" %}

{% block title %}{{ entity.title }}{% endblock %}
{% block description %}{{ entity.description }}{% endblock %}
{% block keywords %}{{ entity.keywords }}{% endblock %}
{% set active = 100 %}

{% block javascripts %}
{% endblock %}

{% block body %}
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/ru_RU/all.js#xfbml=1";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    <div id="main">
        <div class="promo">
            {% render "MainBundle:Client/PageLayout:indexSlider" with {  } %}
            <div class="aside">
                {% render "MainBundle:Client/PageLayout:indexTop" with { 'maxRatingDelivery': maxRatingDelivery, 'maxRatingChain': maxRatingChain } %}
            </div>
        </div>
        {% render "MainBundle:Client/PageLayout:indexRecommended" with { 'maxRatingDelivery': maxRatingDelivery, 'maxRatingChain': maxRatingChain } %}
        {% render "MainBundle:Client/PageLayout:indexDiscounts" with {  } %}

        <div class="public">
            {% render "MainBundle:Client/PageLayout:indexPublication" with {  } %}
            {% render "MainBundle:Client/PageLayout:lastComment" with {  } %}
        </div>
        <div class="social-plugin">
            <div class="heading">
                <h2>Мы в социальных сетях</h2>
            </div>
            <div class="row">
                <div class="facebook">
                    <div class="fb-like-box" data-href="https://www.facebook.com/pizZza.com.ua" data-width="460" data-show-faces="true" data-header="false" data-stream="false" data-show-border="true"></div>
                </div>
                <div class="vk">
                    <script type="text/javascript" src="//vk.com/js/api/openapi.js?98"></script>

                    <!-- VK Widget -->
                    <div id="vk_groups"></div>
                    <script type="text/javascript">
                        VK.Widgets.Group("vk_groups", {mode: 0, width: "460", height: "241", color1: 'FFFFFF', color2: '2B587A', color3: '5B7FA6'}, 22914399);
                    </script>
                </div>
            </div>
        </div>
        {% if entity.text != '' %}
            <div class="main-text">
                <div class="heading">
                    <h2>О проекте</h2>
                </div>
                <style>
                    #text h2{
                        float: none;
                        margin: 0 28px 0 0;
                    }
                    #text h3{
                        font-size: 1.17em;
                        font-weight: bold;
                        margin: auto;
                        padding: 0.1%;
                        font-family: Arial, Helvetica, sans-serif;
                    }
                    #text p{
                        font: 12px/18px Arial, Helvetica, sans-serif;
                        margin: auto;
                        padding: 1%;
                    }
                    #text ul {
                        padding: 1px 0 12px;
                    }
                    #text li {
                        position: relative;
                        padding: 0 0 10px 14px;
                        display: list-item;
                        text-align: -webkit-match-parent;
                    }
                    #text > ul li:before {
                        position: absolute;
                        top: 5px;
                        left: 0;
                        width: 5px;
                        height: 8px;
                        content: '';
                        background: url(../images/sprite.png) no-repeat -182px -313px;
                    }
                </style>
                <div class="text" id="text">
                    {{ entity.text|raw }}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
