{% extends "::base.html.twig" %}

{% block title %}{{ entity.title }}{% endblock %}
{% block description %}{{ entity.description }}{% endblock %}
{% block keywords %}{{ entity.keywords }}{% endblock %}
{% set active = 100 %}

{% block javascripts %}
{% endblock %}

{% block body %}
    <div id="main">
        <div class="promo">
            {% render "MainBundle:Client/PageLayout:indexSlider" with {  } %}
            {% render "MainBundle:Client/PageLayout:indexTop" with { 'maxRatingDelivery': maxRatingDelivery, 'maxRatingChain': maxRatingChain } %}
        </div>
        {% render "MainBundle:Client/PageLayout:indexRecommended" with {  } %}
        {% render "MainBundle:Client/PageLayout:indexDiscounts" with {  } %}

        <div class="public">
            {% render "MainBundle:Client/PageLayout:indexPublication" with {  } %}
            {% render "MainBundle:Client/PageLayout:lastComment" with {  } %}
        </div>
        <div class="social-plugin">
            <div class="heading">
                <h2>Мы в социальных сетях</h2>
            </div>
            <div class="row">
                <div class="facebook">
                    <img src="images/img-02.jpg" width="460" height="209" alt="image description"/>
                </div>
                <div class="vk">
                    <img src="images/img-03.jpg" width="460" height="209" alt="image description"/>
                </div>
            </div>
        </div>
        {% if entity.text != '' %}
            <div class="main-text">
                <div class="heading">
                    <h2>О проекте</h2>
                </div>
                <div class="text">
                    {{ entity.text }}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
