{% extends "::base.html.twig" %}

{% block title %}{{ entity.title }}{% endblock %}
{% block description %}{{ entity.description }}{% endblock %}
{% block keywords %}{{ entity.keywords }}{% endblock %}
{% set active = 100 %}

{% block javascripts %}
{% endblock %}

{% block body %}
    <div id="main">
        <div class="promo">
            {% render "MainBundle:Client/PageLayout:indexSlider" with {  } %}
            <div class="aside">
        <div class="tabs-area best">
            <ul class="tabset-best">
                <li class="active"><a href="#tab-1">Лучшие <br/>пиццерии</a></li>
                <li><a href="#tab-2">Лучшая <br/>доставка</a></li>
            </ul>
            <div class="tab-list">
                <div class="tab" id="tab-1">
                    <div class="list">
                        <div class="sub-list">
                            <div class="frame">
                                <h3><a href="#">Мамамиа</a></h3>

                                <div class="footer">
                                    <ul class="stars">
                                        <li class="ico-star"></li>
                                        <li class="ico-star"></li>
                                        <li class="ico-star"></li>
                                        <li class="ico-star"></li>
                                        <li class="ico-star"></li>
                                    </ul>
                                    <a href="#" class="comment-link">10</a>
                                </div>
                            </div>
                        </div>
                        <div class="sub-list">
                            <div class="frame">
                                <h3><a href="#">Везувио</a></h3>

                                <div class="footer">
                                    <ul class="stars">
                                        <li class="ico-star"></li>
                                        <li class="ico-star"></li>
                                        <li class="ico-star"></li>
                                        <li class="ico-star"></li>
                                        <li class="ico-star ico-star-empty"></li>
                                    </ul>
                                    <a href="#" class="comment-link">23</a>
                                </div>
                            </div>
                        </div>
                        <div class="sub-list">
                            <div class="frame">
                                <h3><a href="#">New York Street Pizza</a></h3>

                                <div class="footer">
                                    <ul class="stars">
                                        <li class="ico-star"></li>
                                        <li class="ico-star"></li>
                                        <li class="ico-star"></li>
                                        <li class="ico-star"></li>
                                        <li class="ico-star ico-star-half"></li>
                                    </ul>
                                    <a href="#" class="comment-link">5</a>
                                </div>
                            </div>
                        </div>
                        <div class="sub-list">
                            <div class="frame">
                                <h3><a href="#">Империя Пиццы</a></h3>

                                <div class="footer">
                                    <ul class="stars">
                                        <li class="ico-star"></li>
                                        <li class="ico-star"></li>
                                        <li class="ico-star"></li>
                                        <li class="ico-star"></li>
                                        <li class="ico-star"></li>
                                    </ul>
                                    <a href="#" class="comment-link">9</a>
                                </div>
                            </div>
                        </div>
                        <div class="sub-list">
                            <div class="frame">
                                <h3><a href="#">Виллабаджо</a></h3>

                                <div class="footer">
                                    <ul class="stars">
                                        <li class="ico-star"></li>
                                        <li class="ico-star"></li>
                                        <li class="ico-star"></li>
                                        <li class="ico-star"></li>
                                        <li class="ico-star"></li>
                                    </ul>
                                    <a href="#" class="comment-link">12</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab" id="tab-2">
                    <div class="list">
                        <div class="sub-list">
                            <div class="holder">
                                <div class="images">
                                    <img src="images/recomned-11.gif" width="36" height="14" alt="image description"/>
                                </div>
                            </div>
                            <div class="frame">
                                <h3><a href="#">Мамамиа</a></h3>

                                <div class="footer">
                                    <ul class="stars">
                                        <li class="ico-star"></li>
                                        <li class="ico-star"></li>
                                        <li class="ico-star"></li>
                                        <li class="ico-star"></li>
                                        <li class="ico-star"></li>
                                    </ul>
                                    <a href="#" class="comment-link">10</a>
                                </div>
                            </div>
                        </div>
                        <div class="sub-list">
                            <div class="holder">
                                <div class="images">
                                    <img src="images/recomned-10.gif" width="38" height="18" alt="image description"/>
                                </div>
                            </div>
                            <div class="frame">
                                <h3><a href="#">Везувио</a></h3>

                                <div class="footer">
                                    <ul class="stars">
                                        <li class="ico-star"></li>
                                        <li class="ico-star"></li>
                                        <li class="ico-star"></li>
                                        <li class="ico-star"></li>
                                        <li class="ico-star ico-star-empty"></li>
                                    </ul>
                                    <a href="#" class="comment-link">23</a>
                                </div>
                            </div>
                        </div>
                        <div class="sub-list">
                            <div class="holder">
                                <div class="images">
                                    <img src="images/recomned-09.gif" width="32" height="25" alt="image description"/>
                                </div>
                            </div>
                            <div class="frame">
                                <h3><a href="#">New York Street Pizza</a></h3>

                                <div class="footer">
                                    <ul class="stars">
                                        <li class="ico-star"></li>
                                        <li class="ico-star"></li>
                                        <li class="ico-star"></li>
                                        <li class="ico-star"></li>
                                        <li class="ico-star ico-star-half"></li>
                                    </ul>
                                    <a href="#" class="comment-link">5</a>
                                </div>
                            </div>
                        </div>
                        <div class="sub-list">
                            <div class="holder">
                                <div class="images">
                                    <img src="images/recomned-08.gif" width="38" height="21" alt="image description"/>
                                </div>
                            </div>
                            <div class="frame">
                                <h3><a href="#">Империя Пиццы</a></h3>

                                <div class="footer">
                                    <ul class="stars">
                                        <li class="ico-star"></li>
                                        <li class="ico-star"></li>
                                        <li class="ico-star"></li>
                                        <li class="ico-star"></li>
                                        <li class="ico-star"></li>
                                    </ul>
                                    <a href="#" class="comment-link">9</a>
                                </div>
                            </div>
                        </div>
                        <div class="sub-list">
                            <div class="holder">
                                <div class="images">
                                    <img src="images/recomned-07.gif" width="38" height="17" alt="image description"/>
                                </div>
                            </div>
                            <div class="frame">
                                <h3><a href="#">Виллабаджо</a></h3>

                                <div class="footer">
                                    <ul class="stars">
                                        <li class="ico-star"></li>
                                        <li class="ico-star"></li>
                                        <li class="ico-star"></li>
                                        <li class="ico-star"></li>
                                        <li class="ico-star"></li>
                                    </ul>
                                    <a href="#" class="comment-link">12</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        </div>
        {% render "MainBundle:Client/PageLayout:indexRecommended" with {  } %}
        {% render "MainBundle:Client/PageLayout:indexDiscounts" with {  } %}

        <div class="public">
            {% render "MainBundle:Client/PageLayout:indexPublication" with {  } %}
            {% render "MainBundle:Client/PageLayout:lastComment" with {  } %}
        </div>
        <div class="social-plugin">
            <div class="heading">
                <h2>Мы в социальных сетях</h2>
            </div>
            <div class="row">
                <div class="facebook">
                    <img src="images/img-02.jpg" width="460" height="209" alt="image description"/>
                </div>
                <div class="vk">
                    <img src="images/img-03.jpg" width="460" height="209" alt="image description"/>
                </div>
            </div>
        </div>
        {% if entity.text != '' %}
            <div class="main-text">
                <div class="heading">
                    <h2>О проекте</h2>
                </div>
                <div class="text">
                    {{ entity.text }}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
