{% extends "::base.html.twig" %}

{% block title %}{{ entity.title }}{% endblock %}
{% block description %}{{ entity.description }}{% endblock %}
{% block keywords %}{{ entity.keywords }}{% endblock %}
{% set active = 100 %}

{% block javascripts %}
{% endblock %}

{% block body %}
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/ru_RU/all.js#xfbml=1";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    <div id="main">
        <div class="promo">
            {% render "MainBundle:Client/PageLayout:indexSlider" with {  } %}
            <div class="aside">
                {% render "MainBundle:Client/PageLayout:indexTop" with { 'maxRatingDelivery': maxRatingDelivery, 'maxRatingChain': maxRatingChain } %}
            </div>
        </div>
        {% render "MainBundle:Client/PageLayout:indexRecommended" with { 'maxRatingDelivery': maxRatingDelivery, 'maxRatingChain': maxRatingChain } %}
        {% render "MainBundle:Client/PageLayout:indexDiscounts" with {  } %}

        <div class="public">
            {% render "MainBundle:Client/PageLayout:indexPublication" with {  } %}
            {% render "MainBundle:Client/PageLayout:lastComment" with {  } %}
        </div>
        <div class="social-plugin">
            <div class="heading">
                <h2>Мы в социальных сетях</h2>
            </div>
            <div class="row">
                <div class="facebook">
                    <div class="fb-like-box" data-href="https://www.facebook.com/pizZza.com.ua" data-width="460" data-show-faces="true" data-header="false" data-stream="false" data-show-border="true"></div>
                </div>
                <div class="vk">
                    <script type="text/javascript" src="//vk.com/js/api/openapi.js?98"></script>

                    <!-- VK Widget -->
                    <div id="vk_groups"></div>
                    <script type="text/javascript">
                        VK.Widgets.Group("vk_groups", {mode: 0, width: "460", height: "241", color1: 'FFFFFF', color2: '2B587A', color3: '5B7FA6'}, 22914399);
                    </script>
                </div>
            </div>
        </div>
        {% if entity.text != '' %}
            <div class="main-text">
                <div class="heading">
                    <h2>О проекте</h2>
                </div>
                <div class="text">
                    {{ entity.text }}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
