{% extends "MainBundle:PageLayout:base_admin.html.twig" %}
{%- set chain = current_chain() -%}
{% block body %}
    <h3>ДОбавление Страницы</h3>
    <form action="{{ path_city('admin_page_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <button class="btn btn-success" type="submit">Сохранить</button>
    </form>
    <a class="btn btn-info" href="{{ path('admin_page') }}">К списку</a>
{% endblock %}