{% extends "MainBundle:PageLayout:base_admin.html.twig" %}
{%- set chain = current_chain() -%}
{% block body %}
    <h3>Добавить Особенность</h3>

    <form action="{{ path('admin_feature_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button class="btn btn-success" type="submit">Сохранить</button>
        </p>
    </form>
    <a class="btn btn-info" href="{{ path('admin_feature') }}">К списку</a>
{% endblock %}
