{% extends "MainBundle:PageLayout:base_admin.html.twig" %}
{%- set chain = current_chain() -%}
{% block body %}
    <h3>Список слайдов</h3>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Url</th>
                <th>
                    <a class="btn btn-primary" href="{{ path('admin_slider_new') }}">Добавить</a>
                </th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.name }}</td>
                <td>{{ entity.url }}</td>
                <td>
                    <a class="btn" href="{{ path('admin_slider_edit', { 'id': entity.id }) }}"><i class="icon-edit"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}